<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4>{{title}}</h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <span *ngFor="let item of items">
        <mat-list-item role="listitem " class="active-item"  matTooltip="{{item.tooltip}}" [matTooltipPosition]="'above'" (click)="goTo(item.href)">
          <img *ngIf="item.ico" src="../assets/{{item.ico}}" style="width:24px; height:24px;" class="mr-1 float-left" alt=""> {{item.title}}
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </span>
    </mat-list>

  </mat-expansion-panel>

</mat-accordion>
