<span class="px20"></span>
<span class="px20"></span>
<mat-card class="main-card">
  <h2>Большаков Владимир Николаевич</h2>
  <mat-divider></mat-divider>
  <h3 class="mt40">Резюме</h3>
  <a mat-raised-button href="https://spb.hh.ru/resume/d20d4b33ff01a74bd10039ed1f775348683346" target="_blank">
    <img src="{{url}}hh.png" width="20" /> HeadHunter.ru </a>
  <a mat-raised-button href="https://www.linkedin.com/in/vladimir-bolshakov-401bb686/" target="_blank">
    <img src="{{url}}linkedin.png" width="20" /> LinkedIn.com </a>
  <span class="px40"></span>
  <mat-divider></mat-divider>
  <h3 class="mt40">Рубрика GitHub</h3>
  <a mat-raised-button href="https://github.com/AndersDeath" target="_blank">
    <img src="{{url}}github.png" width="20" /> Профиль на GitHub</a>
  <span class="px20"></span>
  <app-material-accordion-list [title]="'Список репозиториев с примерами на GitHub'" [items]="gitHubData"></app-material-accordion-list>
  <span class="px40"></span>
  <mat-divider></mat-divider>
  <h3 class="mt40">Рубрика портфолио</h3>
  <app-material-accordion-list [title]="'Мобильные приложения'" [items]="mobileList"></app-material-accordion-list>
  <app-material-accordion-list [title]="'Сайты'" [items]="siteList"></app-material-accordion-list>
  <span class="px40"></span>
  <mat-divider></mat-divider>
  <h3 class="mt40">Рубрика технологии</h3>
  <mat-accordion class="button-list">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>Список (по клику на название технологии откроется подсказка)</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-raised-button *ngFor="let item of skillsArr" (click)="search(item)" target="_blank" class="btn btn-light">
        {{ item }}
      </button>
    </mat-expansion-panel>
  </mat-accordion>
  <span class="px40"></span>
  <mat-divider></mat-divider>
  <h3 class="mt40">Работал с компаниями</h3>
  <div style="text-align:center">
    <img src="{{url}}rostelecom.png" style="margin-bottom:5px;" height="100" alt="">
    <img src="{{url}}autodesk.png" style="margin-right:10px;" height="100" alt="">
    <img src="{{url}}kodeks.jpg" style="margin-bottom:20px;" height="50" alt="">
    <img src="{{url}}assentlogo.png" style="margin-bottom:16px;" alt="">
    <img src="{{url}}vimmi-logo.png" style="margin-bottom:25px;" height="50" alt="">
  </div>
  <mat-divider></mat-divider>
  <h3 class="mt40">Контакты</h3>
  <ul>
    <li>Почта -
      <a href="mailto:andersdeath@yandex.ru">andersdeath@yandex.ru</a>
    </li>
    <li>Скайп - vladnbol</li>
  </ul>
  <div style="text-align:right">
    Визитка: v.1.3.0
  </div>
</mat-card>
